.content {
    text-align: center;
    font-family: Pacifico;
    // padding: 200px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    // background-image: url("../../../assets/img/bg-img.jpg");

    h2 {
        color: #FCB371;
    }
}